*{
    font-family: 'Gabarito', sans-serif;
}

.header{
    width: auto;
}

.menu {
    display: flex;
}

.menu-items {
    display: flex;
    list-style: none;
    margin-left: 34em;
    font-size: 0.85em;
}

.menu-items li {
    margin-right: 1.5em;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
}

.menu-items li a:hover {
    color: #f00;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.signup-button {
    position: absolute;
    right: 1em;
}

.signup-button .button {
    background-color: red;
    color: #fff;
    padding: 1em;
    border: none;
    font-weight: bold;
    text-decoration: none;
    
}

.signup-button .button:hover {
    background-color: #f00;
    cursor: pointer;
}

.dropdown > a::after {
    content: "";
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.buttons .button {
    background-color: red;
    color: #fff;
    padding: 1em;
    border: none;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1em;
    
}

.buttons .button:hover {
    cursor: pointer;
}

.buttons .button2{
    border-color: blue;
    margin-left: 1em;
    color: blue;
    background-color: #fff;
}

.buttons .button2:hover{
    cursor: pointer;
    color: #fff;
    background-color: blue;
}

.processes-container{
    margin-top: 2em;
}

.process{
    text-align: center;
    margin-top: 7em;
}

.process h4{
    color: rgb(241, 72, 100);
}

.process-1{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.process-2{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.process-3{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.process-4{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.description{
    margin:2em;
    text-align: left;
    width: 45%;
}

.last{
    text-align: left;
    margin-left: 5em;
    margin-top: 5em;
}

.last h5{
    color: blue;
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    width: 90%;
    margin: 0 0 0 5em;
}

.cards div{
    margin: 1em;
    width: 20%;
}

.processes-container img{
    box-shadow: #333 0 0 1em;
    border-radius: 0.5em;
}